/* interactive network background */
#particles-js {
    position: fixed;
    width: 101%;
    height: 101%;
    z-index: -1;
	background: #00366b4f;
	border: none;
}

/* animated wave background */
#background{
	background-image: url("../assets/background.gif");
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	background-size: 100% 100%;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
	border: none;
}
  /* 
  .text {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: #fff;
    max-width: 90%;
    padding: 2em 3em;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 2px #131415;
    font-family: "Open Sans", sans-serif;
  }
  
  h1 {
    font-size: 2.25em;
    font-weight: 700;
    letter-spacing: -1px;
  }
  
  a,
  a:visited {
    color: #e34234;
    transition: 0.25s;
  }
  
  a:hover,
  a:focus {
    color: #ba160c;
  } */