/* card container */
.col-xs-12.col-sm-4.col-md-4{
    height: 50%;
    padding: 1vh 1vh;
    outline: none;
    overflow: hidden;
}

/* card */
.card{
    background-color: blueviolet;
    height: 100%;
    width: 100%;
    border-radius: 5pt;
    
    outline: none;
    overflow: hidden;
}