@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
*, *:before, *:after {
	box-sizing: border-box;
}


.lighter-text {
	color: #ABB0BE;
}

.main-color-text {
	color: #6394F8;
}

.title-coloc-text {
	color: #6394F8;
}


.shopping-container {
	position: absolute;
	display: inline-block;
	height: 80vh;
	width: 80vw;
	margin: 10% 10% 5% 10%;
}

.shopping-cart {
	position: relative; 
	/* display: none;
	z-index: -5; */

	height: 100%;
	width: 65%;
	padding: 20px;
	left: 0%;

	float: left;
	overflow: hidden;
	border-radius: 10px 0px 0px 10px;
	backdrop-filter: blur(20px);
	background: rgba(0, 0, 0, 0.500);
	box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.650);
}

.badge {
	background-color: #6394F8;
	border-radius: 10px;
	color: white;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	padding: 3px 7px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.shopping-cart .shopping-cart-header {
	height: 10%;
	border-bottom: 1px solid #e8e8e852;
	padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
	float: right;
}
.shopping-cart .shopping-cart-items {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content:space-between;
	padding: 45px 45px 45px 20px;
	margin: 0;
}
.shopping-cart .shopping-cart-items img {
	float: left;
	height: 100%;
	width: auto;
	margin-right: 12px;
}
.shopping-cart .shopping-cart-items .item-name {
  	position: relative;
	display: block;
	color: #ffffff;
	
	height: 50%;
	padding-top: 10%;
	overflow: hidden;
	font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-price {
	position: relative;
	height: 25%;
	color: #6394F8;
	margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
	position: relative;
	height: 25%;
	color: #c0c6d4;
}

.shopping-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}

.cart-icon {
	color: #ffffff;
	font-size: 24px;
	margin-right: 7px;
	float: left;
}

.checkout-button {
	width: 100%;
	background: #6394F8;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	display: block;
	border-radius: 3px;
	font-size: 16px;
	margin: 20px 0 20px 0;
}
.checkout-button:hover {
	background: #729ef9;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.clearfix {
	height: 30% !important;
	overflow: hidden;
	list-style-type: none;
}

.clearfix .cart-data{
	overflow: hidden;
	height: 100%;
}

/* #cart-button:focus ~ .shopping-container .shopping-cart{
	display:unset;
	z-index: 5;
} */
#cart-button{
	position: absolute;
}
/* 
.shopping-cart:hover{
	display:unset;
	z-index: 5;
} */

.shopping-cart .quantity{
	display: flex;
	justify-content: space-between;
}






/* checkout container */

.checkout-container{
	position: relative;
	height: 100%;
	width: 35%;
	right: 0%;
	float: right;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 0px 10px 10px 0px;
	backdrop-filter: blur(20px);
	background: rgba(255, 255, 255, 0.5);
	/* box-shadow: -10px 0px 15px -5px black; */
	box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.650);
	padding: 20px;
}

.checkout-container .user-data{
	position: relative;
	height: 80%;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content:space-evenly;
	align-items:center;
}








/* vertical carousel */

.cart-carousel{
	height: 90%;
	width: 100%;
}

.vertical.carousel.slide{
	height: 100%;
	width: 100%;
	background-color:unset;
}


.vertical.carousel .carousel-control {
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: auto;
	width: 30%;
	height: 15%;
	left: 0;
	right: 0;
	margin: auto;
	background-color:unset;
	background:unset;
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
	background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%); */
}
.vertical.carousel .carousel-control.right {
  top: auto;
  bottom: 0;
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); */
}
.vertical.carousel .carousel-control .glyphicon {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);

}
.vertical.carousel .carousel-indicators {
  bottom: auto;
  top: 50%;
  height: fit-content;
  left: auto;
  right: 10px;
  width: 15px;
  margin: 0;
  -webkit-transform: translateY(-50%);
		  transform: translateY(-50%);
}
.vertical.carousel .carousel-inner > .item {
  left: 0;
  top: 0;
}
.vertical.carousel .carousel-inner > .item > img {
  width: 100%;
}
.vertical.carousel .carousel-inner > .item.next,
.vertical.carousel .carousel-inner > .item.active.right {
  -webkit-transform: translate3d(0, 100%, 0);
		  transform: translate3d(0, 100%, 0);
  top: 0;
}
.vertical.carousel .carousel-inner > .item.prev,
.vertical.carousel .carousel-inner > .item.active.left {
  -webkit-transform: translate3d(0, -100%, 0);
		  transform: translate3d(0, -100%, 0);
  top: 0;
}
.vertical.carousel .carousel-inner > .item.next.left,
.vertical.carousel .carousel-inner > .item.prev.right,
.vertical.carousel .carousel-inner > .item.active {
  -webkit-transform: translate3d(0, 0, 0);
		  transform: translate3d(0, 0, 0);
  top: 0;
}
.vertical.carousel .carousel-inner > .active,
.vertical.carousel .carousel-inner > .next.left,
.vertical.carousel .carousel-inner .prev.right {
  top: 0;
}
.vertical.carousel .carousel-inner > .next,
.vertical.carousel .carousel-inner > .active.right {
  top: 100%;
  left: 0;
}
.vertical.carousel .carousel-inner > .prev,
.vertical.carousel .carousel-inner > .active.left {
  top: -100%;
  left: 0;
}
