<!DOCTYPE html>

<html lang="en" >

    <head>
		<meta charset="UTF-8">
        <title> Vue.js LessonsShop </title>
		<link rel="icon" type="image/png" href="assets/cart-logo.png"/>

		<!-- jQuery lib -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!-- custom modules -->
        <script src="https://unpkg.com/vue"></script>
		<script src="src/global.js"></script>
        <link rel="stylesheet" href="css/global.css">
		<link rel="stylesheet" href="css/background.css">
		<link rel="stylesheet" href="css/navBar.css">
		<link rel="stylesheet" href="css/carousel.css">
		<link rel="stylesheet" href="css/cards.css">
		<link rel="stylesheet" href="css/sorting.css">
		<link rel="stylesheet" href="css/cart.css">
		
		
		<!-- bootstrap lib -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    </head>












    <body>
	<!-- START background -->
		<div id="background"></div>
		<div id="particles-js">
			<script  type="text/javascript" src="src/background.js"></script>
		</div>
	<!-- END background -->


	<!-- START nav bar -->
		<nav class="navigator">
			<img id="pageLogo" src="assets/page-logo.png">
			<div class="search-box filter"></div>
			<div class="search-box">
				<input type="text" placeholder="Search" id="search" autocomplete="off">
				<svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;"
					xml:space="preserve">
					<path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280"/>
					<path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280"/>
				</svg>
			<!-- START sorting menu -->
				<ul class="abanico">
					<li><a >SPACES</a></li>
					<li><a >SUBJECT</a></li>
					<li><a >PRICE</a></li>
					<li><a >LOCATION</a></li>
					<li><a >SORT</a></li>
					</li>
				</ul>
			<!-- END sorting menu -->
			</div>
			<div id="cart-box">
				<a href="#" id="cart-button"><img class="cart-logo" src="assets/cart-logo.png"><span class="badge">3</span></a>
			</div>
		</nav>
	<!-- END nav bar -->





	<!-- START carousel -->
		<div id="carousel-lessons" class="carousel container wrapper slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators hidden-xs">	
				<li data-target="#carousel-lessons" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-lessons" data-slide-to="1"></li>
			</ol>

			
			<div id="app" class="carousel-inner hidden-xs" role="listbox">
				<div class="item active">
					<div class="row">

						<div v-for="index in 6" :key="index" class="col-xs-12 col-sm-4 col-md-4">
							<div class="card wrap">
								<div class="card front">
									<img class="img"	v-bind:src="products[index-1].image">
									<h2  class="title"	v-text="products[index-1].title"></h2>
								</div>
								
								<div class="card back">
									<img class="img"	v-bind:src="products[index-1].image">
									<div class="info container">
										<div class="description">
											<p class="location"	>Location: {{products[index-1].location}}</p>
											<p class="price"	>Price: {{products[index-1].price}}£</p>
											<p class="space"	>Spaces: {{products[index-1].spaces}}</p>
										</div>
										<img class="logo"	v-bind:src="products[index-1].logo">
									</div>
									<button v-if="canAddToCart(index-1)" class="btn btn-primary" type="button" v-on:click="addToCart(index-1)">ADD TO CART</button>
									<button v-else disabled="disabled" class="btn btn-primary" type="button">ADD TO CART</button>
								</div> 
							</div>							
						</div>

					</div>
				</div>

			<!-- nex carousel page -->

				<div class="item">
					<div class="row">

						<div v-for="index in 4" :key="index" class="col-xs-12 col-sm-4 col-md-4">
							<div class="card wrap">
								<div class="card front">
									<img class="img"	v-bind:src="products[index+5].image">
									<h2  class="title"	v-text="products[index+5].title"></h2>
								</div>
								
								<div class="card back">
									<img class="img"	v-bind:src="products[index+5].image">
									<div class="info container">
										<div class="description">
											<p class="location"	>Location: {{products[index+5].location}}</p>
											<p class="price"	>Price: {{products[index+5].price}}£</p>
											<p class="space"	>Spaces: {{products[index+5].spaces}}</p>
										</div>
										<img class="logo"	v-bind:src="products[index+5].logo">
									</div>
									<button v-if="canAddToCart(index+5)" class="btn btn-primary" type="button" v-on:click="addToCart(index+5)">ADD TO CART</button>
									<button v-else disabled="disabled" class="btn btn-primary" type="button">ADD TO CART</button>
								</div> 
							</div>							
						</div>

					</div>
				</div>
			</div>


			<!-- Controls -->
			<a href="#carousel-lessons" class="left carousel-control" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			</a>
			<a href="#carousel-lessons" class="right carousel-control" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			</a>
		</div>
	<!-- END carousel -->





	<!-- START container -->
		<div class="shopping-container">
			<div class="shopping-cart">
				<div class="shopping-cart-header">
					<i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
					<div class="shopping-cart-total">
						<span class="lighter-text">Total:</span>
						<span class="main-color-text">$2,229.97</span>
					</div>
				</div>
			<!--end shopping-cart-header -->
				
				
				<div class="cart-carousel">
					<div class="vertical carousel slide" id="carousel-example-generic" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
							<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
						</ol>
						<div class="carousel-inner" role="listbox">
							<div class="shopping-cart-items">
								<li class="clearfix item active">
									<img src="assets/astronomy-logo.png" alt="item1" />
									<div class="cart-data">
										<span class="item-name">Sony DSC-RX100M III</span>
										<div class="quantity">
											<span class="item-quantity">Quantity:	1</span>
											<div><button>+</button> <button>-</button></div>
										</div>
										<div class="lighter-text">Price: <span class="item-price">$849.99</span></div>
									</div>
								</li>
						
								<li class="clearfix item">
									<img src="assets/computer-logo.png" alt="item1" />
									<div class="cart-data">
										<span class="item-name">Sony DSC-RX100M III</span>
										<div class="quantity">
											<span class="item-quantity">Quantity:	1</span>
											<div><button>+</button> <button>-</button></div>
										</div>
										<div class="lighter-text">Price: <span class="item-price">$849.99</span></div>
									</div>
								</li>
						
								<li class="clearfix item">
									<img src="assets/music-logo.png" alt="item1" />
									<div class="cart-data">
										<span class="item-name">Sony DSC-RX100M III</span>
										<div class="quantity">
											<span class="item-quantity">Quantity:	1</span>
											<div><button>+</button> <button>-</button></div>
										</div>
										<div class="lighter-text">Price: <span class="item-price">$849.99</span></div>
									</div>
								</li>
							</div>
						</div>
						<a href="#carousel-example-generic" class="left carousel-control" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
						<a href="#carousel-example-generic" class="right carousel-control" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
					</div>
				</div>
			
				
			</div> <!--end shopping-cart -->
		<!-- START ceckout -->
			<div class="checkout-container">
				<div class="user-data">
					<input type="text">
					<input type="text">
				</div>
				<a href="#" class="checkout-button">Checkout</a>
			</div>
		<!-- END checkout -->
		</div>
	<!--END container -->





	<!-- START Confirmation -->
		<div class="confirmation background">
			<div class="wrapping">
			</div>
		</div>
	<!-- END Confirmation -->





		<script src="src/products.js"></script>
        <script src="src/vue.js"></script>
    </body>
</html>
