nav.navigator{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;

    top: 2%;
    height: 10%;
    width: 100%;
}

nav > #pageLogo{
    position: relative;
    height: 100%;
    width: 20%;
}

nav > #cart-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    width: 20%;
}


nav > .search-box {
    position: relative;
    width: 50%;
    max-width: 360px;
    height: 100%;
    border-radius: 120px;
}

.search-box.filter{
  	position: absolute;
	backdrop-filter: blur(3px);
}
  
/*   nav > .search-border {
    display: block;
    width: 100%;
    max-width: 360px;
    height: 60px;
  } */
.border {
    fill: none;
    stroke: #00000083;
    stroke-width: 5;
    stroke-miterlimit: 10;
}
.border {
    stroke-dasharray: 740;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
    -webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
    -moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
    -o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
}
nav > .border-searching .border {
    stroke-dasharray: 740;
    stroke-dashoffset: 459;
    transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
    -webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
    -moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
    -o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
}
#search {
    font-family: 'Montserrat Alternates', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 120px;
    border: none;
    background: rgba(255,255,255,0);
    padding: 0 68px 0 68px;
    color: #ffffff;
    font-size: 1.32em;
    font-weight: 400;
    letter-spacing: -0.015em;
    outline: none;
}
#search::-webkit-input-placeholder {color: #FFFFFF;}
#search::-moz-placeholder {color: #FFFFFF;}
#search:-ms-input-placeholder {color: #FFFFFF;}
#search:-moz-placeholder {color: #FFFFFF;}
#search::-moz-selection {color: #FFFFFF; background: rgba(0,0,0,0.25);}
#search::selection {color: #FFFFFF; background: rgba(0,0,0,0.25);}

#cart-button{
	display: flex;
	height: 100%;
	justify-content: center;
    align-items: flex-start;
}
#cart-button .cart-logo{
	height: 100%;
    transition: .5s;
}
#cart-button .cart-logo:hover{
	filter: brightness(80%);
    transition: .1s;
}
#cart-button .cart-logo:active{
	filter: brightness(60%);
    transition: 0s;
}